@charset "utf-8";
/* CSS Document */
body{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e6e4d9;
	background-image: url("images/pattern.png");
}
#mainheader{
	background-color:#A593C2;
}
nav{
	height: 60px;
	width: 1000px;
	margin: 0 auto 20px;
}
nav > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
nav > ul > li{
	float: left;
}
nav > ul > li  a{
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 15px;
}
#leftmenu {
	float:left;
	width: 30%;
	margin-bottom: 20px;
}
#main {
	float:right;
	width: 70%;
	margin-bottom: 20px;
}


a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 20px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover{
    color: #FF9AE2;
}
a:hover:after{
    width: 100%;
}